.aboutSmallDiv_any{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    line-height: 200%;
    font-size: large;
    gap:2%;
    padding: 1%;
    border-top: 1px solid grey;
}