.cartBox_any{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 2%;
    overflow:auto;
    height: 250px;
    width: 90%
}
.countDisplayBox{
    display: flex;
    flex-direction: row;
    width: 25%;
}
.input::placeholder {
    font: 18px/3 sans-serif;
}